alembic
annotated-doc
annotated-types
anyio
asyncpg
bcrypt
certifi
cffi
charset-normalizer
click
colorama
cors
cryptography
dnspython
docx2pdf
docxtpl
ecdsa
email-validator
fastapi
filelock
future
gevent
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
googleapis-common-protos
greenlet
grpcio
grpcio-status
h11
httplib2
httptools
idna
Jinja2
lxml
Mako
MarkupSafe
oauthlib
passlib
pillow
proto-plus
protobuf
psycopg2-binary
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
pypdf
PySocks
python-docx
python-dotenv
python-jose
python-multipart
pywin32
PyYAML
qrcode
reportlab
requests
requests-file
requests-oauthlib
rsa
six
SQLAlchemy
starlette
tldextract
tqdm
typing-inspection
typing_extensions
uritemplate
urllib3
uvicorn
watchfiles
websockets
zope.event
zope.interface
openpyxl
